{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": "3.0.0",
          "targets": {
            "esmodules": true,
            "ie": "11"
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./components",
          "@styles": "./styles",
          "@contexts": "./contexts",
          "@utils": "./utils"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": false }], "next/babel"]
    }
  }
}
